body {
  background-image: url("fond.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color:#fff
}

header{
  text-align:center;
  background-color:#6600cc;
  border:1px solid #fff;
  padding: 15px;
  opacity:0.8;
}

h1{
  border-bottom:1px solid #fff;
  padding:10px;
}
